$black: #000;

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  }

button,
form,
.score-board,
.board,
.square,
.x-score,
.o-score {
  float: left;
}

header,
.display-stats,
.score-board {
  text-align: center;
}

.score-board,
.board,
.square,
.display-stats,
.x-score,
.o-score {
  border: 1px solid $black;
  box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
}

button,
form,
.score-board {
  clear: both;
}


display-stats,
.ttt,
.score-board {
  font-family: 'Courgette', cursive;
}

.score-board,
.board,
.display-stats {
  margin-top: 25px;
}

.create-account,
.sign-in,
.display-stats {
  float: right;
};

.score-board,
.display-stats {
  width: 300px;
}

.x-score,
.o-score {
  height: 299px;
  width: 149px;
};

.show-x,
.show-o {
  height: 50px;
  margin: 0 auto;
  text-align: center;
  width: 50px;
}

.tt {
  font-size: 60px;
}

.cat {
  font-family: 'Chewy', cursive;
  font-size: 70px;
}

.score-board {
  font-size: 25px;
  height: 300px;
  margin-left: 50px;
  margin-right: -50px;
}

.board {
  height: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-left: 150px;
  width: 500px;
}

.square {
  height: 166px;
  width: 166px;
}

.display-stats {
  font-size: 30px;
  height: 200px;
  margin-right: 100px;
}
