$black: #000;

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  }

.board {
  border: 1px solid $black;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 500px;
  margin: 0 auto;
  margin-top: 150px;
  width: 500px;

}

.square {
  border: 1px solid $black;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 166px;
  width: 166px;
}

.create-account,
.sign-in {
  float: right;
};

.score-board {
  border: 1px solid $black;
  float: left;
  height: 300px;
  width: 300px;
};

.x-score,
.o-score {
  border: 1px solid $black;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;
  width: 150px;
};

.x-score {
  float: left;
  clear: both;
}
