$black: #000;

header {
  text-align: center;
}

button {
  clear: both;
  float: left;
}

form {
  clear: both;
  float: left;
}

.tt {
  font-family: 'Courgette', cursive;
  font-size: 60px;
}

.cat {
  font-family: 'Chewy', cursive;
  font-size: 70px;
}

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
  }

.score-board {
  border: 1px solid $black;
  box-sizing: border-box;
  clear: both;
  float: left;
  font-family: 'Courgette', cursive;
  font-size: 25px;
  height: 300px;
  margin-left: 50px;
  margin-right: -50px;
  margin-top: 25px;
  text-align: center;
  width: 300px;
}

.board {
  border: 1px solid $black;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-top: 25px;
  width: 500px;
}

.square {
  border: 1px solid $black;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 166px;
  width: 166px;
}

.display-stats {
  border: 1px solid $black;
  float: right;
  font-family: 'Courgette', cursive;
  font-size: 30px;
  height: 200px;
  margin-right: 100px;
  margin-top: 25px;
  text-align: center;
  width: 300px;
}

.create-account,
.sign-in {
  float: right;
};

.x-score,
.o-score {
  border: 1px solid $black;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  height: 299px;
  width: 149px;
};
